html, body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.header{
    background-color: #131415;
    padding: 20px 0;
}
.big_con{
    width: 1060px;
    margin: auto;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_list{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    
    
}
.menu_item{
    margin-right: 25px;
    display: flex;
    
    
}
.menu_item:last-child{
    margin-right: 0px;
}
.contacts{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    
}
.grafic{
    font-size: 60%;
    
color: #c77814;
}
.logo{
    color: #c77814;
    text-decoration: none;
       
}
.logo1{
    color: #c77814;
    
       
}

.menu_link{
    text-decoration: none;
    color: white;
   
}
.tell{
    color: white;
    text-decoration: none;
}
.img{
    margin-right: 20px;
}
.con{
    width: 1100px;
   margin: auto;
}
.otzivi{
    margin-top: 30px ;
     font-size: 60px; 
    
}
.con_otzivi{
    margin-top: 50px;
    display: flex;
}
.otziv{
    list-style: none;
    padding: 0;
    margin: 0;
}
.ava{

    margin-bottom: 30px;
     width: 160px;
     height: 160px;
     border-radius: 50%;
     background-image: url(img/1.png);
     background-size: 100%;  
}
.ava1{
    margin-bottom: 30px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-image: url(img/2.png);
    background-size: 100%;  
}
.ava2{
    margin-bottom: 30px;
    width: 160px;
    height: 160px;
    background-color: #e8e8e8 ;
    border-radius: 50%;
    background-image: url(img/afro.png);
    background-position: center;
    background-repeat: no-repeat;  
}
.ava3{
    margin-bottom: 30px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-image: url(img/3.png);
    background-size: 100%;
    
}

.flex1{
    display: flex;
    border-bottom: 1px solid #e8e6e6 ;
    margin-bottom: 30px;
    
}
.text_otziv{
    max-width: 675px;
    margin-top: 15px;
    line-height: 20px;
}
.text{
    margin-left:  30px ;
    
    
    
}
.data{
     font-size: 10px;
     color: #656464 
}
.fio{
    margin-top: 10px;
}
.flex1:last-child{
    border-bottom: 1px solid white ;
}
.glavnaya{
    margin-top: 45px;
    display: flex;
    list-style: none;
    padding: 0;
}
.psiblade{
    margin-left: 10px;
}
.psiblade::after{
    content: "/";   
}
.none{
    text-decoration: none; 
    color: black;
}
.nomber{
    display: flex;
    justify-content: center;
}
.stranici{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    
    
}
.cifri{
    padding: 2px;
    text-decoration: none;
    color: #221f1f;
     margin-right: 20px; 
    font-weight: 900;
}
.stranica{
    margin-right: 20px;
}
.element{
    margin-right: 14px; ;
}
/* .cifri:hover{
    
    background-color: #131415 ;
    color: #c77814;
    border-radius: 2px; */
/* } */
.dop_info{
    position: relative;
    top: 20px;
   
}
.info{
    color: #e8e8e8;
     width: 670px;
    height: 120px; 
    margin: auto;
    line-height: 1.5;
    
}
.qwe{
    content: "Ждем ваший заявок!";
    color: #c77814;
    font-weight: 700;
}
.box_v2{
    
    margin-top: 45px;
    background-color: #141315;
    background-image: url(img/Group.png);
    
}
.box_v3{
    margin-top: 60px;
}
.cifra{
    padding: 5px 10px;
    border: 2px solid black;
    text-decoration: none;
     margin-right: 20px; 
     background-color: #131415;
    color: #c77814; 
    border-radius: 3px;
    font-weight: 900;
    box-shadow: 1px 2px 5px 1px #79797a ;
}

*{
    box-sizing: border-box;
}
.container_small{
     width: 700px;
     margin: auto;
}
.form{
    background-color: #f5f5f5;
    padding: 50px 70px;
}
.title__form{
    font-size: 49px;
    font-weight: 700;
    font-family: arial;
    margin-bottom: 25px;
}
.form__row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.form__item-input{
    /* resize: none; */
    width: 270px;
    padding: 16px 8px;
    border-width: 0;
    outline-width: 1px;
    outline-color: #f89513;
}
.form__item-text{
    resize: none;
    width: 100%;
    padding: 9px;
    height: 90px;
    /* padding: 9px; */
    border-width: 0;
    outline-width: 1px;
    outline-color: #f89513;
}
.textqwe{
    flex: 1;
}
.social{
    list-style: none;
    display: flex;
    padding: 0;
    margin-top: 10px;
}
.vk{
width: 20px;
height: 20px;
background-color: #d0d0d0;
background-repeat: no-repeat;
background-position: center;
margin-right: 11px;
border-radius: 50%;
background-image: url(img/vk.png);
}
.vk:hover{
    background-color: #f89513;
}
.facebook:hover{
    background-color: #f89513;
}
.google:hover{
    background-color: #f89513;
}
.twitter:hover{
    background-color: #f89513;
}
.mail:hover{
    background-color: #f89513;
}
.facebook{
    width: 20px;
    height: 20px;
    margin-right: 11px;
    border-radius: 50%;
    background-color: #d0d0d0;
background-repeat: no-repeat;
background-position: center;
background-image: url(img/fb.png);
}
.google{
    width: 20px;
    height: 20px;
    margin-right: 11px;
    border-radius: 50%;
    background-color: #d0d0d0;
background-repeat: no-repeat;
background-position: center;
background-image: url(img/google.png);
}
.twitter{
    width: 20px;
    height: 20px;
    margin-right: 11px;
    border-radius: 50%;
    background-color: #d0d0d0;
background-repeat: no-repeat;
background-position: center;
background-image: url(img/twitter.png);
}
.mail{

    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #d0d0d0;
background-repeat: no-repeat;
background-position: center;
background-image: url(img/mail.png);
}
.head{
    display: flex;
  align-items: center; 
  justify-content: space-between;
    
    color: #ffffff;
    
}
.head_left{
    align-self: flex-start;
    margin: auto;

}
.head_right{
    width: 160px;
    height: 60px;
    align-self: flex-end;
    margin: auto;
}
.head_text2{
    color: #f89513;
    font-weight: 600;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
.headd{
    background-color: #131415;
    min-height: 100px;
}
.box_v3{
    margin-bottom: 50px;
}
.form__item-input-buttom{
   width: 125px;
    height: 45px;
    background-color: #131415;
    color: white;
    border-radius: 3px;
    font-size: 17px;
}
.wrapper{

    min-height: 200px;
}









*{
    box-sizing: border-box;
}
.container_small{
     width: 700px;
     margin: auto;
}
.form{
    background-color: #f5f5f5;
    padding: 50px 70px;
}
.title__form{
    font-size: 49px;
    font-weight: 700;
    font-family: arial;
    margin-bottom: 25px;
}
.form__row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.form__item-input{
    resize: none;
    width: 270px;
    padding: 16px 8px;
    border-width: 0;
    outline-width: 1px;
    outline-color: #f89513;
}
.form__item-text{
    resize: none;
    width: 100%;
    padding: 9px;
    height: 90px;
    padding: 9px;
    border-width: 0px;
    outline-width: 1px;
    outline-color: #f89513;
}
.text{
    flex: 1;
}

.form__item-radio{
    position: absolute;
    left: -9999px;
}

.radio__fake-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid #efefef;
     border-radius: 4px; 
    margin-right: 6px;
}

label{
    display: flex;
    margin-right: 20px;
}

.form_buttoms{
    display: flex;
}
.radio__fake-button::before{
    content: "";
    display: flex;
    width: 0px;
    height: 0px;
/*      
    background-color: #4e92eb; */
}
.form__item-radio:checked + .radio__fake-button{
    border: 1px solid #4e92eb;

}
.form__item-radio:checked + .radio__fake-button::before{
    width: 7px;
    height: 4px;
    border-top: 3px solid #4e92eb;
    border-right: 3px solid #4e92eb;
    transform: rotate(135deg);
    border-radius: 3px;
}